body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
}

fieldset {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

#favorite-color {
  width: 100%;
}

#experience-level {
  width: 8rem;
  accent-color: rgb(0, 85, 255);
}

button {
  background-color: rgb(0, 85, 255);
  color: white;
}